@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Oswald:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	max-height: 100vh;
}
.icon {
	border-radius: 50%;
	padding: 5px;
     transition: transform 0.3s, background-color 0.3s;

}

.icon:hover {
	transform: scale(1.1);
	background-color: rgb(49, 49, 49);
	color: white;
}
::-webkit-scrollbar {
	width: 10px;
   }
   ::-webkit-scrollbar-track {
	background-color: rgb(236, 236, 236);
   }
   
   ::-webkit-scrollbar-thumb {
	background-color: rgb(177, 177, 178);
   }