@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
	border-radius: 50%;
	border: 2px solid black;
	padding: 4px;
     transition: transform 0.3s, background-color 0.3s;

}

.icon:hover {
	transform: scale(1.1);
	background-color: grey;
	color: white;
}
